.profilePage {
  display: flex;
  background-color: #f2ebec20;
  height: calc(100vh);
  justify-content: center;
  margin: -10px;
}
.containerHeaderWrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  padding-bottom: 10px;
  border-bottom: .1px solid #D9D9D950;
}
#noBorder{
  border: none;
}
.containerHeading {
  color: #8C4C35;
  margin-left: 20px;
  margin-top: 17px;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: .25px;
}
#iconButtons {
  color: #6A7680;
  font-weight: 200;
  border: 0;
  margin: 3px;
}
#iconButtons:focus {
  outline: none;
  box-shadow: 0 0 0 .5px rgba(0, 0, 0, 0.5); /* Creates a thin outline effect */
}

.leftPanel {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  width: 22%;
  min-height: 600px;
  height: calc(100vh - 200px);
  margin-right: 30px;
  justify-content: space-between;
}
.mainDetailsContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  border: .1px solid #D9D9D950;
  box-shadow: 0px 4px 4px #D9D9D9;
}
.profilePictureWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -23px;
  max-width: 185px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.profilePicture {
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 50%;
  border: .1px solid #D9D9D950;
}
.profileNameWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12px;
  align-items: center;
}
.profileUsername {
  font-family: "Big Shoulders Stencil Display", sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1px;
  font-style: normal;
  color: #6A7680;
}
.curly {
  font-size: 34px;
}
.profileTitle {
  text-align: center;
  margin-top: 17px;
  color: #6A7680;
  font-size: 13px;
  font-weight: 100;
  line-height: 20px;
}
.profileStatus {
  text-align: center;
  color: #8C4C35;
  font-size: 13px;
  font-weight: 100;
  line-height: 20px;
}
.profileName {
  display: flex;
  align-items: center;
  font-family: "Arima", system-ui;
  font-size: 26px;
  color: #8C4C35;
  font-weight: 600;
  margin-left: 2px;
  margin-bottom: -10px;
  font-style: normal;
}
.profileGadgetButton{
  width: auto;
  padding: 12px;
  height: 38px;
  background: none;
  background-color: #BF6A4B;
  color: #FFF;
  font-family: 'Noto Sans', sans-serif ;
  font-size: 14px;
  font-weight: 200;
  border: none;
  outline: inherit;
  border-radius: 5px;
  letter-spacing: .5px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 17px;
  margin-bottom: 20px;
}
.technologiesContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 11px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  border: .1px solid #D9D9D950;
  box-shadow: 0px 4px 4px #D9D9D9;
}
.technologiesWrapper{
  max-height: 230px;
  overflow-y: auto;
}
.techSubHeaders {
  color: #BF6A4B;
  font-weight: 300;
  font-size: 13px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 12px;
}
.techItemWrappers{
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 12px;
}
.techItems {
  margin-left: 0px;
  margin-right: 7px;
  margin-bottom: 10px;
  background-color: #6A768013;
  width: fit-content;
  height: fit-content;
  padding: 7px;
  font-size: 13px;
  font-weight: 500;
  color: #6A7680;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  
}

.middlePanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 150px;
  width: 45%;
  min-height: 600px;
  height: calc(100vh - 200px);
  margin-right: 30px;
}
.bioContainer {
  display: flex;
  flex-direction: column;
  height: calc(30% - 15px);
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  border: .1px solid #D9D9D950;
  box-shadow: 0px 4px 4px #D9D9D9;
}
.bioTextWrapper {
  margin-top: 22px;
  overflow-y: auto;
  scrollbar-color:  #D9D9D9 #ffffff;
}
.bioText {
  margin: 20px;
  margin-top: 0px;
  color: #6A7680;
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
}
.eventsContainer {
  display: flex;
  flex-direction: column;
  height: calc(70% - 15px);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff;
  border: .1px solid #D9D9D950;
  box-shadow: 0px 4px 4px #D9D9D9;
}
.calendarEventContainer {
  border-left: 2px solid #8C4C35;
  border-radius: 5px;
  margin: 5px;
  margin-left: 9px;
  color: #939393;
}
.calendarEventText{
  font-weight: 600px;
  font-family: Noto Sans, sans-serif;
  font-size: 11px;
  margin: 3px;
  padding: 3px;
}
.bold{
  font-weight: 900;
  color:#8C4C35;
  padding: 0;
  margin: 0;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  width: 15%;
  min-height: 600px;
  height: calc(100vh - 200px);
}
.followingContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  border: .1px solid #D9D9D950;
  box-shadow: 0px 4px 4px #D9D9D9;
}
.followedUsersContainer{
  padding-top: 8px;
  overflow-y: auto;
  height: 100%;
}
.followedUserPictureWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -17px;
  max-width: 75px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.followedUserPicture {
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 50%;
  border: .1px solid #D9D9D950;
}
.followedUserNameWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12px;
  align-items: center;
}
.followedUserUsername {
  font-family: "Big Shoulders Stencil Display", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  font-style: normal;
  color: #6A7680;
}
.followedUserCurly {
  font-size: 17px;
}
.followedUserTitle {
  text-align: center;
  margin-top: 8px;
  color: #6A7680;
  font-size: 11px;
  font-weight: 100;
  line-height: 20px;
  margin-bottom: 7px;
}
.followedUserStatus {
  text-align: center;
  color: #8C4C35;
  font-size: 13px;
  font-weight: 100;
  line-height: 20px;
}
.followedUserName {
  display: flex;
  align-items: center;
  font-family: "Arima", system-ui;
  font-size: 15px;
  color: #8C4C35;
  font-weight: 600;
  margin-left: 2px;
  margin-bottom: -3px;
  font-style: normal;
}
.containerHeading {
  color: #8C4C35;
  margin-left: 20px;
  margin-top: 17px;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: .25px;
}
.followButtonContainer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}
#followButtons {
  color: #6A7680;
  font-weight: 200;
  border: 0;
  border-radius: 500px;
  padding: 0px;
  padding-left: 1px;
  max-width: 30px;
  max-height: 25px;
  font-size: 21px;
  margin: 0px;
  margin-right: 30px;
}
#followButtons:hover {
  box-shadow: 0 0 0 .5px rgba(0, 0, 0, 0.5); /* Creates a thin outline effect */
}
#followButtons:focus {
  outline: none;
  box-shadow: 0 0 0 .5px rgba(0, 0, 0, 0.5); /* Creates a thin outline effect */
}
.calendarSelectBorder{
  display: flex;
  width: 150px;
  flex-direction: column;
  height: 34px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  justify-content: center;
  padding-left: 5px;
  margin-right: 10px;
}
.calendarSelectLabel{
  position: relative;
  font-family: Noto Sans Display, sans-serif;
  color: #8c4c35;
  font-weight: 200;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 9px;
  margin-left: 5px;
  margin-top:  -10px;
  background-color: white;
}
.calendarSelect{
  height: 20px;
  width: 142px;
  border: none;
  color: #6A7680;
  margin: 0px;
  margin-top: 2px;
  padding-left: 6px;
  font-size: 11px;
  font-family: Noto Sans Display, sans-serif;
  font-weight:300;
}
.calendarSelect.input{
  width: 135px;
  padding-left: 10px;
}
.calendarSelectBorder:focus-within{
  border: 1px solid #D9D9D9;
  /* background-color: #ededed; */
}
.calendarSelect:focus{
  outline: none;
  /* background-color: #ededed; */
}
.calendarSearchFormButton{
  height: 30px;
  background: none;
  background-color: #BF6A4B;
  color: #FFF;
  font-family: 'Noto Sans', sans-serif ;
  font-size: 14px;
  font-weight: 300;
  border: none;
  outline: inherit;
  border-radius: 5px;
  letter-spacing: .5px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  margin-top: 3px;
  margin-right: 5px;
}
.calendarCloseSearchButton{
  height: 30px;
  background: none;
  background-color: #6A7680;
  color: #FFF;
  font-family: 'Noto Sans', sans-serif ;
  font-size: 14px;
  font-weight: 300;
  border: none;
  outline: inherit;
  border-radius: 5px;
  letter-spacing: .5px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  margin-top: 3px;
  margin-right: 10px;
}




@media (max-width: 1200px) {
  .profileUsername {
    font-family: "Big Shoulders Stencil Display", sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    font-style: normal;
    color: #6A7680;
  }
  .curly {
    font-size: 28px;
  }
  .profileName {
    display: flex;
    align-items: center;
    font-family: "Arima", system-ui;
    font-size: 20px;
    color: #8C4C35;
    font-weight: 600;
    margin-left: 2px;
    margin-bottom: -10px;
    font-style: normal;
  }
  .containerHeading {
    color: #8C4C35;
    margin-left: 20px;
    margin-top: 17px;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: .25px;
  }
}


@media (max-width: 800px) {
  .profileUsername {
    font-family: "Big Shoulders Stencil Display", sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    font-style: normal;
    color: #6A7680;
  }
  .curly {
    font-size: 24px;
  }
  .profileName {
    display: flex;
    align-items: center;
    font-family: "Arima", system-ui;
    font-size: 16px;
    color: #8C4C35;
    font-weight: 600;
    margin-left: 2px;
    margin-bottom: -10px;
    font-style: normal;
  }
  .containerHeading {
    color: #8C4C35;
    margin-left: 20px;
    margin-top: 17px;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: .25px;
  }
}