.loginPage {
  display: flex;
  justify-content: center;
}

.loginMainContentContainer {
  width: 85%;
  max-width: 2000px;
  display: flex;
  align-items: center;
  margin-top: 193px;
  margin-bottom: 75px;
  justify-content: center;
  min-height: auto;
  max-height: 600px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}

.loginFormContainer {
  height: auto;
  padding: 40px;
  width: 48%;
  align-items: center;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 35px;
  justify-content: center;
}

.loginFormHeaderContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 35px;
  justify-content: center;
}

.loginFormHeader {
  color: #6A7680;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 100;
  font-size: 33px;
  margin: 0px;
  padding-left: 10px;
}

.loginFormImageContainer {
  flex: 1;
  object-fit: cover;
  max-height: 100%;
  width: 100%;
}

.loginInputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  padding-left: 5px;
  margin-bottom: 30px;
  width: 100%;
}

.loginFormInputContainer {
  width: 100%;
}

.loginInputField {
  width: 100%;
  height: 27px;
  border: none;
  color: #6A7680;
  margin: 0px;
  padding-left: 6px;
  font-size: 14px;
  font-family: Noto Sans Display, sans-serif;
  font-weight: 300;
}

.loginSelectBorder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  justify-content: center;
  padding-left: 5px;
  margin-bottom: 30px;
}

.loginSelectBorder:focus-within {
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  padding: 4px;
}

.loginSelect:focus,
.loginInputField:focus,
.loginSelectBorder:focus {
  outline: none;
}

.loginSelect {
  border: none;
}

.loginInputField {
  width: 97.5%;
  height: 27px;
  border: none;
  color: #6A7680;
  margin: 0px;
  padding-left: 6px;
  font-size: 14px;
  font-family: Noto Sans Display, sans-serif;
  font-weight: 300;
}

.securityQuestionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}


.loginRememberMeContainer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.loginCheckbox {
  margin-right: 10px;
}

.loginRememberMeLabel {
  color: #6A7680;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 100;
  font-size: 14px;
}

.loginSubmitButtonContainer {
  display: flex;
  width: 100%;
  margin-top: 50px;
  justify-content: space-between;
}

.loginSubmitButton {
  width: 100%;
  height: 43px;
  background: none;
  background-color: #BF6A4B;
  color: #FFF;
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  border: none;
  outline: inherit;
  border-radius: 5px;
  letter-spacing: .5px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginCancelButton {
  background-color: #8A99A6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginFormContainer a[href='/user/register'],
.loginFormContainer a[href='/user/register']:visited {
  color: #BF6A4B;
  text-decoration: none;
  /* Remove the underline */
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  /* Adjust the font size as needed */
  font-weight: 300;
  margin-top: 10px;
  /* Add margin to separate it from the button */
  display: inline-block;
  /* Make it an inline block to control its width */
}

/* Style the link for "Forgot Password?" */
.loginFormContainer a[href='/user/forgot-password'],
.loginFormContainer a[href='/user/forgot-password']:visited {
  color: #BF6A4B;
  /* Change the text color to match the button color */
  text-decoration: none;
  /* Remove the underline */
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  /* Adjust the font size as needed */
  font-weight: 300;
  margin-top: 0px;
  /* Add margin to separate it from the button */
  display: inline-block;
  /* Make it an inline block to control its width */
}


.dontHaveAccountText {
  color: #6A7680;
  /* Set the text color */
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 100;
  font-size: 16px;
  /* Adjust the font size as needed */
  margin: 0;
  /* Remove any default margins */
}

.signUpLink {
  color: #BF6A4B;
  text-decoration: none;
  font-weight: 300;
  margin-left: 5px;
}

.forgotPasswordLink {
  color: #BF6A4B;
  /* Set the link color to match the button color */
  text-decoration: none;
  /* Remove the underline */
  font-weight: 300;
  margin-left: auto;
  /* Push the link to the right */
  margin-top: 5px;
  /* Add some vertical spacing */
}

@media (max-width: 990px) {
  .loginFormImageContainer {
    display: none;
  }
}

@media (max-width: 1085px) {
  .registerFormImageContainer {
    display: none;
  }
}

@media (max-width: 768px) {
  .registerFormContainer {
    width: 100%; /* Make the form container full-width */
    padding: 20px; /* Adjust padding for smaller screens */
  }
}


.registerPage {
  display: flex;
  justify-content: center;
}

.registerMainContentContainer {
  width: 85%;
  max-width: 2000px;
  display: flex;
  align-items: center;
  margin-top: 193px;
  margin-bottom: 75px;
  min-height: auto;
  max-height: 680px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}

.registerFormContainer {
  flex: 1;
  justify-content: center;
  flex-direction: column;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  padding: 40px;
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 35px;
}

.registerFormHeader {
  color: #6A7680;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 100;
  font-size: 33px;
  padding-left: 10px;
  padding-top: 40px;
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}

.registerFormHeaderContainer {

  align-items: center;
  justify-content: center;
}

.registerFormImageContainer {
  flex: 1;
  object-fit: cover;
  max-height: 100%;
}

.registerInputContainer {
  display: flex;
  flex-direction: column;
  height: 40px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  padding-left: 5px;
  margin-bottom: 30px;
}

.registerInputField {
  width: 100%;
  height: 27px;
  border: none;
  color: #6A7680;
  margin: 0px;
  padding-left: 6px;
  font-size: 14px;
  font-family: Noto Sans Display, sans-serif;
  font-weight: 300;
}

.registerSelectBorder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  justify-content: center;
  padding-left: 5px;
  margin-bottom: 30px;
}

.registerSelectBorder:focus-within {
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  padding: 4px;
}

.registerSelect:focus,
.registerInputField:focus,
.registerSelectBorder:focus {
  outline: none;
}

.registerSelect {
  width: 97.5%;
  height: 27px;
  border: none;
  color: #6A7680;
  margin: 0px;
  padding-left: 6px;
  font-size: 14px;
  font-family: Noto Sans Display, sans-serif;
  font-weight:300;}

/* .registerInputField {
  width: 97.5%;
  height: 27px;
  border: none;
  color: #6A7680;
  margin: 0px;
  padding-left: 6px;
  font-size: 14px;
  font-family: Noto Sans Display, sans-serif;
  font-weight: 300;
} */

.registerRememberMeContainer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.registerCheckbox {
  margin-right: 10px;
}

.registerRememberMeLabel {
  color: #6A7680;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 100;
  font-size: 14px;
}

.registerSubmitButtonContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.registerSubmitButton {
  width: 100%;
  height: 43px;
  background: none;
  background-color: #BF6A4B;
  color: #FFF;
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  border: none;
  outline: inherit;
  border-radius: 5px;
  letter-spacing: .5px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerCancelButton {
  background-color: #8A99A6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerFormContainer a[href='/user/register'],
.registerFormContainer a[href='/user/register']:visited {
  color: #BF6A4B;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  display: inline-block;
}

.registerFormContainer a[href='/user/forgot-password'],
.registerFormContainer a[href='/user/forgot-password']:visited {
  color: #BF6A4B;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 0px;
  display: inline-block;
}

.registerFormContainer a[href='/user/login'],
.registerFormContainer a[href='/user/login']:visited {
  color: #BF6A4B;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  display: inline-block;
}

.alreadyHaveAccountText {
  color: #6A7680;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 100;
  font-size: 16px;
  padding-bottom: 40px;
  padding-top: 0;
  margin-top: 0;
}

.signInLink {
  color: #BF6A4B;
  text-decoration: none;
  font-weight: 300;
  margin-left: 5px;
  margin-top: 10px;
}

