.editModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.editModalContent {
  background: white;
  padding: 0;
  border-radius: 12px;
  max-width: 80%;
  width: 700px;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: transform 0.3s ease;
  transform: translateY(-20px);
}

.editModalContent:enter {
  transform: translateY(0);
}

.editModalHeader,
.editModalFooter {
  color: #6A7680;
  padding: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.editModalHeader {
  padding: 10px 20px; /* Reduced height */
  border-bottom: 1px solid #d9d9d9;
  font-size: 16px; /* Smaller text */
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editModalFooter {
  border-top: 1px solid #d9d9d9;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.editModalBody {
  padding: 20px 40px;
  overflow-y: auto;
  max-height: calc(90vh - 160px);
}

.editModalCloseButton {
  color: #6A7680;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  transition: color 0.3s ease;
}

.editModalCloseButton:hover {
  color: #ff5c5c;
}

.editModalFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.editModalSuccessMessage {
  color: #6A7680;
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  text-align: center;
}

.editModalRequestHeader {
  color: #8C4C35;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

.editModalTextareaContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.editModalTextarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  color: #6A7680;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  resize: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.editModalCharacterLimit {
  align-self: flex-end;
  font-size: 12px;
  color: #8C4C35;
  margin-top: 5px;
  font-family: 'Noto Sans', sans-serif;
}

.editModalSubmitButton {
  background-color: #BF6A4B;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.editModalSubmitButton:hover {
  background-color: #a75937;
}

.editModalEditOptions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}

.editModalSaveIcon,
.editModalCancelIcon {
  color: #939393;
  cursor: pointer;
  font-size: 1.2em;
}

.editModalFormGroup {
  margin-bottom: 20px;
  width: 100%;
}

.editModalFormGroup label {
  display: block;
  margin-bottom: 5px;
  color: #6A7680;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}

.editModalFormGroup .editModalInput,
.editModalFormGroup .editModalTextarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  color: #6A7680;
}

.editModalTechOption {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
  width: auto;
}

.editModalTechOption input {
  margin-right: 5px;
}

.editModalTechOption label {
  margin: 0;
}
