body {
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
a:link{
  text-decoration: none;
}
h1, h2, h3 {
  font-family: 'Noto Sans Display', sans-serif;
}
h4, h5, h6, p, li {
  font-family: 'Noto Sans', sans-serif;
}
.color1 {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #F2EBEC;
}
.color2 {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #8A99A6;
}
.color3 {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #D98D62;
}
.color4 {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #8C4C35;
}
.color5 {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #BF6A4B;
}
.color6 {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #6A7680;
}
.color7 {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #D9D9D9;
}
.color8 {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #939393;
}
.color9 {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #ededed;
}
.primary_font{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
}
.secondary_font{
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 300;
}

/* * Header styles */
.header-section {
  height: auto;
  min-height: 118px;
  background-color: rgb(248, 249, 251);
  justify-content: space-between;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.logo-div {
  width: 244px;
  height: 78px;
  object-fit: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  margin: 20px 88px;
  flex: none;
}
.nav-btn-div {
  height: auto;
  min-width: 0;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 94px;
  display: flex;
}
.header-nav-buttons {
  width: auto;
  height: auto;
  color: #8c4c35;
  text-align: center;
  white-space: nowrap;
  background-color: #F2EBEC;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
  padding: 10px;
  font-family: Noto Sans, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-decoration: none;
}
.header-nav-buttons.button-right {
  margin-right: 0;
  text-decoration: none;
}

/* * Homepage Header styles */
.HP-header-section {
  height: auto;
  background-color: rgba(138, 153, 166, .1);
  justify-content: space-between;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.HP-logo-div {
  width: 244px;
  height: 78px;
  object-fit: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  margin: 20px 88px;
  flex: none;
}
.HP-nav-btn-div {
  height: auto;
  min-width: 0;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 94px;
  display: flex;
}
.HP-header-nav-buttons {
  width: auto;
  height: auto;
  color: #8c4c35;
  text-align: center;
  white-space: nowrap;
  background-color: rgba(242, 235, 236, .6);
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
  padding: 10px;
  font-family: Noto Sans, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}
.HP-header-nav-buttons.button-right {
  margin-right: 0;
  text-decoration: none;
}

/* * Homepage styles */
.home-section {
  height: 628px;
  width: auto;
  display: block;
}
.home-spacer-div {
  width: 60px;
  height: 339px;
  margin-top: 175px;
}
.tagline-div {
  width: 602px;
  height: auto;
  background-color: rgba(242, 235, 236, .7);
  margin-top: 175px;
  margin-bottom: 0;
  margin-right: -10px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}
.tagline-text-block {
  color: #6a7680;
  margin: auto 47px;
  font-family: Noto Sans Display, sans-serif;
  font-size: 34px;
  font-weight: 100;
  line-height: 49px;
}
.collab-text-span {
  color: #8c4c35;
  font-weight: 700;
}
.main-photo {
  z-index: -100;
  width: 100vw;
  height: 628px;
  object-fit: fill;
  background-image: url('../public/alvan-nee-73flblFUksY-unsplash-1-min.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.logo-text-span {
  margin-bottom: -12px;
  min-height: 39px;
  height: 48px;
  width: 153px;
  color: rgba(0, 0, 0, 0);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: static;
}
.home-top-div {
  justify-content: space-between;
  display: flex;
}

/** Homepage Event Styles */
.home-events-section {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 15px;
  overflow: hidden;
  display: flex;
}
.home-events-title {
  color: #6a7680;
  margin-bottom: 10px;
  margin-left: 90px;
  font-family: Noto Sans Display, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
}
.home-events-holder-title-month_year {
  color: #bf6a4b;
  margin-bottom: 8px;
  font-family: Noto Sans Display, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}
.home-events-holder-div {
  border: .5px solid #8a99a6;
  border-radius: 5px;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 90px;
  margin-right: 90px;
  padding: 14px 42px 28px;
  display: flex;
  overflow: auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}
.home-event-details-top-div {
  height: 40px;
  outline-offset: 0px;
  background-color: #d9d9d9;
  border: .25px #8a99a6;
  border-bottom-style: solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: .5px #8a99a6;
  justify-content: space-between;
  display: flex;
}
.home-event-details-main-div {
  width: 350px;
  border: .5px solid #8a99a6;
  border-radius: 5px;
  flex: none;
  margin-right: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.home-event-top-text {
  color: #6a7680;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  font-family: Noto Sans, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
.home-event-top-text.right {
  margin-left: 0;
  margin-right: 10px;
}
.home-event-bottom-text {
  color: #6a7680;
  font-family: Noto Sans, sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
}
.home-event-bottom-text.lower {
  margin-bottom: 10px;
}
.home-event-bottom-text.middle {
  margin-bottom: 13px;
}
.home-event-bottom-details-main-flex-div {
  border: .5px #8a99a6;
  border-bottom-right-radius: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 19px 10px;
  display: flex;
}
.home-event-button {
  height: auto;
  outline-offset: 0px;
  color: #8c4c35;
  background-color: rgba(242, 235, 236, .8);
  border: .25px solid #8a99a6;
  border-radius: 5px;
  outline: .5px #8a99a6;
  padding: 4px 20px;
  font-family: Noto Sans, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}
.home-event-details-bottom-div {
  object-fit: fill;
  background-color: rgba(191, 106, 75, .1);
  border: .25px #8a99a6;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
}
.home-event-bottom-details-top-flex-div {
  width: 325px;
  flex: none;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}
.home-event-bottom-details-bottom-flex-div {
  align-self: stretch;
}
.home-event-holder-flex-div {
  display: flex;
} 

/** All Calendar Styles */
.calendar-page {
  color: #6a7680;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.calendar-days-container {
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  margin-top: 40px;
  padding: 0;
}
.calendar-days {
  display: flex;
  width: 14%;
  height: 25px;
  border: .1px solid #D9D9D9;
  background-color:#F2EBEC;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: -1px;
}
.calendar-dates-container {
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  color: #8C4C35;
}
.calendar-dates {
  width: 14%;
  height: 150px;
  border: .1px solid #D9D9D9;
  margin-top: -1px;
  margin-left: -1px;

}
.add-event-calendar-button{
  display: none;
}
.calendar-dates:hover .add-event-calendar-button {
  display: block;
}

/** Loading Component */
.loading-page{
  width: auto;
  height: auto;
  box-shadow: 0px 0px 1px 0px #8A99A6;
}
.loading-message{
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  /* color: #8C4C35; */
}

/** Add Event Styles */
.add-event-page {
  margin-top: 150px;
}


