body {
  font-family: 'Noto Sans', sans-serif;
}
h1, h2, h3 {
  font-family: 'Noto Sans Display', sans-serif;
}
h4, h5, h6, p, li {
  font-family: 'Noto Sans', sans-serif;
}
.color1 {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #F2EBEC;
}
.color2 {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #8A99A6;
}
.color3 {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #D98D62;
}
.color4 {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #8C4C35;
}
.color5 {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #BF6A4B;
}
.color6 {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #6A7680;
}
.color7 {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #D9D9D9;
}
.color8 {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #939393;
}
.color9 {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #ededed;
}
.primary_font{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
}
.secondary_font{
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 300;
}

/* homepage styles */

.header-section {
  height: auto;
  background-color: rgba(138, 153, 166, .3);
  justify-content: space-between;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.logo-div {
  width: 244px;
  height: 78px;
  object-fit: contain;
  background-image: url('../images/CB_Logo.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  margin: 20px 88px;
  flex: none;
}
.nav-btn-div {
  height: auto;
  min-width: 0;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 94px;
  display: flex;
}
.header-nav-buttons {
  width: auto;
  height: auto;
  color: #8c4c35;
  text-align: center;
  white-space: nowrap;
  background-color: rgba(242, 235, 236, .6);
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
  padding: 10px;
  font-family: Noto Sans, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}
.header-nav-buttons.button-right {
  margin-right: 0;
  text-decoration: none;
}
.home-section {
  justify-content: space-between;
  display: block;
}
.home-spacer-div {
  width: 60px;
  height: 339px;
  margin-top: 175px;
}
.tagline-div {
  width: 602px;
  height: auto;
  background-color: rgba(242, 235, 236, .6);
  margin-top: 175px;
  margin-bottom: 0;
  margin-right: -10px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}
.tagline-text-block {
  color: #6a7680;
  margin: auto 47px;
  font-family: Noto Sans Display, sans-serif;
  font-size: 36px;
  font-weight: 200;
  line-height: 49px;
}
.collab-text-span {
  color: #8c4c35;
  font-weight: 800;
}
.main-photo {
  z-index: -100;
  width: 100vw;
  height: 65.5vh;
  object-fit: fill;
  background-image: url('../images/alvan-nee-73flblFUksY-unsplash-1-min.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.body {
  overflow: visible;
}
.logo-text-span {
  width: 50px;
  height: 75px;
  color: rgba(0, 0, 0, 0);
  background-image: url('../images/grey_logo.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  line-height: 16px;
  position: static;
}
.home-top-div {
  justify-content: space-between;
  display: flex;
}

