.profileContainer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.mainContent {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 30px;
  gap: 20px;
  padding-top: 122px;
  color: #8C4C35;
}

.leftSidebar {
  border: .1px solid #D9D9D9;
  margin-right: 20px;
  margin-left: 20px;
  flex: 0 0 15%;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 220px);
}

.sidebarItem {
  flex-shrink: 1;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;
}


.techList {
  list-style: none;
}

.techContent {
  margin-bottom: 8px;
  background-color: #F5F5F5;
  border-radius: 6px;
  color: #4A4A4A;
  font-size: 14px;
  transition: background-color 0.2s ease, border 0.2s ease;
  padding: 10px;
}

.rightSidebar {
  position: relative;
  border: 0.1px solid #D9D9D9;
  margin-right: 20px;
  margin-left: 20px;
  flex: 0 0 30%;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: calc(100vh - 220px);
  background:
    linear-gradient(to top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 40%,
      rgba(255, 255, 255, 0.99) 100%),
    url('/rightsidebarimage.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}


.goldStar {
  background: linear-gradient(45deg,
      #f9d71c,
      #c99700);
  color: transparent;
  background-clip: text;
}

.silverStar {
  background: linear-gradient(45deg,
      #e6e6e6,
      #b3b3b3);
  color: transparent;
  background-clip: text;

}

.rightSidebar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 0;
}

.rightSidebar>* {
  position: relative;
  /* z-index: 1; */
}


.profileSidebar {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 10px;
  height: calc(100vh - 220px);
}

.relativePosition {
  position: relative;
}

.editIcon,
.editOptions div {
  cursor: pointer;
  transition: color 0.3s ease;
}


.editIcon:hover,
.editOptions div:hover {
  color: #555555;
}

.profilePictureSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profilePictureWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profilePicture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #d0d0d0;
}

.profileUrlInput {
  width: 80%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #d0d0d0;
}

.profileName {
  z-index: 1;
  text-align: center;

}

.nameHeader {
  padding-top: 10px;
  margin-top: 0px;
  z-index: 0;
}


.nameHeader,
.bioHeader,
.detailTitle,
.eventsHeader,
.techHeader {
  font-size: 18px;
  font-weight: bold;
  color: #8C4C35;
  margin-bottom: 0px;
}

.techContent {
  color: #939393;
  font-size: 14px;
}

.profileUsername {
  text-align: center;
}

.adminHeader {
  margin-bottom: 30px
}

.profileDetails {
  display: flex;
  flex-direction: column;
  padding: 25px 25px 80px 25px;
  border-radius: 6px;
  margin-bottom: 20px;
  /* background-color: #F2EBEC; */
}

.detailRow {
  display: flex;
  padding: 0px;
  margin: 0px;

}

.detailTitle {
  font-size: 14px;

  margin-right: 10px;
}

.dataContent {

  font-size: 14px;
  color: #878787;
}

.languageBubble {
  margin-bottom: 0px;
  /* background-color: #BF6A4B; */
  color: #878787;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

.requestToBecomeBuddySection {
  padding: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  background-color: #fafafa;
  color: #444444;
  text-align: center;
}

.adminSection {

  text-align: center;
}

.messagesButton,
.buddiesButton {

  background-color: white;
  color: #8C4C35;
  border: none;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.messagesButton:hover,
.buddiesButton:hover {
  background-color: #E0D8D9;
}


.centerColumns {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.centerColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  transition: all 0.3s ease;
  position: relative;
  gap: 20px;
}

.topCenterPlaceholder,
.techSection,
.eventsSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 10px;
  border: .1px solid #D9D9D9;
  transition: all 0.3s ease;
}

.buddyBio {
  font-size: 14px;
  color: #939393
}

.profileBio {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.techSection {
  margin-top: 20px;
  margin-bottom: 20px;
}


.techSection ul {
  list-style-type: none;
  padding: 0;
}

.techSection li {
  padding: 5px 0;
}

.eventsSection {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}



@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: 40vh;
  }

  .centerColumns {
    flex-direction: column;
  }

  .centerColumn {
    flex: 1;
    margin-bottom: 20px;
  }
}

.editIcon,
.editOptions {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #939393;
  cursor: pointer;
}

.editOptions {
  display: flex;
  gap: 10px;
}

.editIcon:hover,
.editOptions div:hover {
  color: #555555;
}

.textAreaField {
  width: 100%;
  height: 120px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  resize: none;
}

.textAreaField.bioEdit {
  border-color: #d98d62;
}


/*////////////////*/


/* .profilePageContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 140px 20px 20px 20px;
} */

/* .mainContent {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
} */

/* .leftContent {
  flex: 3;
  display: flex;
  flex-direction: column;
} */

/* .profileBio {
  flex: 1;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.1);
  margin: 20px;
  padding: 25px;
  height: calc(100vh - 160px);
  overflow-y: auto;
} */

/* .profileDetails {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 10px;
  padding: 25px;
} */

/* .textAreaField {
  width: 100%;
  height: 150px;
  background-color: #f3f4f6;
  border: 2px solid #d1d5db;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #939393;
  transition: all 0.3s ease-in-out;
  cursor: text;
} */

/* .bioEdit {
  background-color: white;
  border: 1px solid #D98D62;
  padding: 10px;
  color: #939393;
  font-family: Arial, sans-serif;
  overflow: auto;
} */

/* .bioHeader,
.nameHeader,
.eventsHeader,
.placeholderHeader {
  color: #8C4C35;
} */

/* .profileSidebar,
.profileBio,
.eventsBox,
.placeholderBox {
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.1);
  margin: 20px;
  min-height: 150px;
} */

/* .profileSidebar {
  width: 250px;
  flex: 0 1 250px;
} */

/* .profilePicture {
  max-height: 200px;
  max-width: 200px;
  border-radius: 100%;
  border: 4px solid #cdcdcd;
} */

/* .profileName p,
.profileUsername p,
.profileUsername input {
  font-size: 18px;
  text-align: center;
  width: 100%;
} */
/* 
.profileName p {
  font-size: 24px;
  margin-bottom: 5px;
} */

/* .profileUsername p,
.profileUsername input {
  margin-top: 0px;
} */

/* .profileBio {
  background-color: white;
} */

/* .profileDetails {
  flex: 2;
  background-color: #F2EBEC;
  color: #939393;
} */

/* .techList {
  margin-left: 0px;
  padding-left: 1.5em;
} */
/* 
.detailTitle {
  color: #4e5860;
  margin-bottom: 0px;
} */

/* .dataContent {
  margin-top: .5em;
  color: #656565;
} */

/* .contentRightOfSidebar,
.topContent,
.messagesBox,
.eventsBox,
.placeholderBox {
  color: #939393;
} */

/* .placeholderBox {
  background-color: #F2EBEC;
} */

/* .contentRightOfSidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
} */

/* .topContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */


/* .eventsBox,
.placeholderBox {
  width: 100%;
} */

.relativePosition {
  position: relative;
}

/* 
.editIconTopRight {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #939393;
} */

/* .profileDetails>div,
.profileBio>div {
  flex-shrink: 0;
} */
/* 
.profilePictureSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

/* .profilePictureWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .profilePicture {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
} */

/* .profileUrlInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}  */

/* Messages */

.tabButtonMain {
  border: 1px solid #d1d5db;
  width: 200px;
  padding: 15px 30px;
  position: sticky;
  font-size: 1em;
  color: #8C4C35;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  margin-bottom: -2px;
  font-family: 'Noto Sans Display', sans-serif;
}

.tabButton {
  margin-bottom: 10px;
  border: 1px solid #d1d5db;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  color: #8C4C35;
}

.tabButton:hover {
  background-color: #FFFFFF;

}



.tabButtonMain:hover {
  background-color: #FFFFFF;
}

.activeTabMain {
  width: 200px;
  border-radius: 5px 5px 0 0;
  border: 1px solid #d1d5db;
  border-radius: 5px 5px 0 0;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  position: sticky;
  background-color: #BF6A4B;
  color: white;
}

.activeTab {
  border: 1px solid #d1d5db;
  border-radius: 5px 5px 0 0;
  background-color: #FFFFFF;
  color: #8C4C35;
}

.activeTabMain:hover {
  background-color: #8C4C35;
}

.activeTab:hover {
  border-radius: 5px 5px 0 0;
}


.adminSection {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 160px);
}

.tabs {
  position: sticky;
  top: 0;
  margin-left: 0x;
  margin-right: 0px;
  padding-bottom: 10px;
}

.messagesBoxContent {
  flex-grow: 3;
  overflow-y: auto;
  overflow-x: hidden;
}


.messagesList {
  padding: 0px 25px 25px 25px;
}

.receivedMessagesContainer {
  font-family: 'Noto Sans', sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
  margin-top: 100px;
}

.tabContainer {
  display: flex;
  margin-left: 25px;

}

.messageItem {
  background-color: #FFFFFF;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.messageItem:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.messageHeader {
  display: flex;
  justify-content: space-between;
}

.messageContent {
  margin-top: 10px;
}

.messageActions {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.promoteButton {
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  border-radius: 5px;
}

.promoteButton {
  color: #8C4C35;
}

.promoteButton:hover {
  background-color: #dddddd;
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.1);
}

.deleteButton {
  color: #BF6A4B;
  background: none;
  border: none;
  font-size: 1em;
  padding-bottom: 0px;
}

.deleteButton:hover {
  color: #8C4C35;
  cursor: pointer;
}

.refreshButton {
  color: #8C4C35;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  border-radius: 5px;
}

.refreshButton:hover {
  background-color: #dddddd;
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.1);

}



/* Manage Buddies */

.demoteBuddiesContainer {
  padding: 25px;
}


.demoteBuddiesContainer {
  font-weight: 200;
  padding: 0px 25px 25px 25px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 200px;
}

.buddiesList {
  list-style: none;
  max-width: 600px;
}

.buddyItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.buddyItem:hover {
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.1);
}

.demoteButton {
  color: #8C4C35;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.demoteButton:hover {
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.1);

  background-color: #dddddd;
}

.currentBuddies {
  color: #8C4C35;
  font-size: 1.3em;
  margin-bottom: 15px;
  margin-top: 10px;
  max-width: 600px;
  font-weight: 600;

}