
.calendarAllContent {
  display: flex;  
  width: 100%;
}
.calendarMainContent{
  display: flex;
  flex-direction: column; 
  width: 100%;
}
.calendarHeader{
  display: flex;
  flex-direction: column;
  width: 89%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 0px;
}
.calendarMonthControls{
  display: flex;
  align-items: center;
}
.innerMiddleCalendarControlsContainer{
  display: flex;
  margin:auto;
  justify-content: center;
  align-items: center;
}
#previousNextIconButtons{
  font-size: 20px;
  margin-top: 10px;
  height: 30px;
  margin-bottom: 5px;
}
.emptyControl:empty{
  font-size: 22px;
  margin-top: 10px;
  height: 30px;
  margin-bottom: 5px;
}
#returnToCurrentMonthIconButtons{
  font-size: 22px;
  margin-top: 10px;
  height: 30px;
  margin-bottom: 5px;
}
.calendarMonth{
  font-size: 20px;
  font-weight: 600;
  color:#6A7680;
  padding: 0px;
  margin: 0px;
}
.calendarGrid{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.calendarDaysOfTheWeekContainer {
  display: flex;
  width: 91%;
  margin-top: 5px;
  margin-right: -14px;

}
.calendarDaysOfTheWeek {
  display: flex;
  flex-wrap: nowrap;
  width: 14.05%;
  height: 25px;
  color: #8C4C35;
  font-size: 13px;
  font-weight: 300;
  border: .1px solid #D9D9D9;
  background-color:#F2EBEC;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: -1px;
  box-sizing: border-box;
}
.calendarDatesContainer {
  display: flex;
  flex-wrap: wrap;
  width: 91%;
  color: #8C4C35;
  margin-right: -14px;
  margin-bottom: 15px;
}
.calendarDate {
  width: 14.05%;
  height: 60px;
  border: .1px solid #D9D9D9;
  margin-top: -1px;
  margin-left: -1px;
  overflow: auto;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.calendarDate::-webkit-scrollbar{
  display: none;
}
.calendarNumAddContainer{
  display: flex;
  justify-content: flex-end;
  margin: 2px;
  margin-right: 4px;
}
.calendarDateNum {
  margin-left: auto;
  margin-top: 1px;
  font-size: 11px;
  font-weight: 800;
}
.calendarEventContainer {
  margin-left: 5px;
  margin-right: 6px;
  height: auto;
  color: #939393; 
  padding: 1px;
  padding-left: 2px;
}

.calendarEventContainer:hover {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.calendarEventText{
  font-weight: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Noto Sans, sans-serif;
  font-size: 10px;
  margin: 1px;
}

.calendarDot{
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin: 0px;
  margin-bottom: 0cap;
  margin-right: 1.5px;
  background-color: #8C4C35;
}
.isOverflowing {
  position: absolute;
  z-index: 10;
}